body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 20%;
	font-size: 80px;
	font-weight: 600;
}

h1 span {
	color: #800080;
	font-weight: 700;
}

p {
	text-align: center;
}



.footer {
	margin-top: 250px;
}

.footer p{
	font-size: 14px;
	font-weight: bold;
}

.footer p span {
	color: #800080;
}